Events
* Name, Date, Time, Event Type( League / Casual), Number of Games per Match
* Match reporting
    ** Map Banned 
    ** Map Picked
    ** Pick/Ban Screenshot
    ** Freelancers picked/banned
    ** Match Result screenshot
    ** Match Result
* Events can be sorted by signups/upcoming/finished
    
* League
    ** Sign-ups
    ** Leaderboard
    
* Team Pages
    ** Edit 
    ** Index page
    ** Team statistics
    ** Formatting player boxes

* Misc
    ** My Team showing when player doesn't have a team
    ** Editable global value for team size