Memberships
* User should see link for Basic plan on home page
* User should see link for Pro plan on home page
* Basic plan should link to the regular sign up form
* Pro plan should link to a custom sign up form 