/// Bootstrap SASS
@import 'bootstrap-sprockets';
@import 'prepphase.min.css';

/// FontAwesome SASS
@import "font-awesome-sprockets";
@import "font-awesome";
 
@import 'users.css.scss';
@import 'freelancers.css.scss';


 /// Typography styles
 h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

/// Navbar styles
.navbar, .home-callout {
    border: none;
}

.navbar-brand{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    
}
.navbar-default .navbar-brand, 
.navbar-default .navbar-nav > li > a {
    border-right: 1px solid #444444;
}

.navbar-default .navbar-right > li > a {
    border-right: none;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover {
    
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: white;
}

.navbar-default .navbar-toggle {
    border: 2px solid white;
    &:hover &:focus{
        background-color: #00c6ff;
    }
}

.navbar-btn.btn-default {
    border: 1px solid #07e607;
}

.nav-freelancer {
    width: 500px;
    li {
        width: 30%;
    }
}

/// Home Page styles
.home-callout{
    color: white;
    margin-top: -20px;
    padding-top: 10px;
}

.home-sign-up-links{
    margin-top: 30px;
}

.well-home {
    padding-top: 0px;
    padding-right: 20px;
}

.freelancer-img {
    margin: 2px 2px 2px 0;
    display: inline-block;
    position: relative;
    img {
        width: 64px;
        height: 64px;
        border-radius: 8px;
    }
    :hover {
        border-width: 2px;
    }
}

.home-guide-text {
    h4 {
        margin-bottom: 2px;
    }
    span {
        font-style: italic;
        
    }
}

.home-guide-box {
    background-color: #464545;
    padding: 2px 2px 0 2px;
}

.lb-team {
    list-style: none;
    padding-left: 10px;
    border-bottom: 1px solid #03e603;
    margin-right: 10px;
}

.grn-border {
    border: 1px solid #07e607;
}
/// Flash styles for the home page
.flash-container {
    position: absolute;
    width: 100%;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -14px;
  color: white;
}