.avatar-show-img {
    width: 128px;
    height: 128px;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    margin-top: 16px;
    
}

.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
    
}

.well.profile-description {
    background-color: #404040;
    border-color: #4cae4c;
}

.profile-title {
    margin-top: 16px;
    background-color: #343434;
    border: 2px solid #4cae4c;
    border-radius: 5px;
}

.profile-fl-pic {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 0 0 5px 2px #4cae4c;
}

/// User index page styles
.user-index-avatar {
    width: 128px;
    height: 128px;
    border-radius: 64px;
}

.well.white-bg {
    background-color: white;
}