.avatar-show-img {
    width: 128px;
    height: 128px;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    margin-top: 16px;
    
}

.job-title-icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid #2e6da4;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
        margin-top: 0;
    }
    
}

.well.profile-description {
    background-color: #404040;
    border-color: #4cae4c;
}

.profile-title {
    margin-top: 16px;
    background-color: #343434;
    border: 2px solid #4cae4c;
    border-radius: 5px;
}

.profile-fl-pic {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    box-shadow: 0 0 5px 2px #4cae4c;
}

/// User index page styles
.user-index-avatar {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-top: 6px;
}

.well-index {
    padding: 4px;
    h3 {
        margin-top: 4px;
    }
    .btn {
        margin-top: 16px;
    }
}

.well.light-bg {
    background-color: #444444;
}

.well.well-select {
    margin-bottom: 0;
}

/// Label and button styles
.label-support, .btn-sp {
    background-color: purple;
}

.label-firepower, .btn-fp{
    background-color: red;
}

.label-frontline, .btn-fl {
    background-color: green;
}

.label-generalist, .btn-ge {
    background-color: blue;
}

.btn-fp, .btn-sp, .btn-fl, .btn-ge {
    color: white;
}

.btn-invite {
    margin-top: 32px;
}

.btn:hover {
    opacity: 0.9;
}

// Index styles
.index-user-desc {
    font-size: 2.5vw;
    h3{
        margin-bottom: 5px;
    }
}

.index-label {
    font-size: 1vw;
    margin-top: -16px;
}